.Notification_content{
  padding: 20px 15px 0 15px;
  background-color: #fff;
  height: auto;
  width: 60%;
  position: fixed;
  top: 70px;
  right: 17px;
  z-index: 999;
  box-shadow: 0 -8px 15px 17px rgb(0 0 0 / 10%);
  border-radius: 5px;
}
