<ion-toolbar class="Toolbar">
  <ion-title>
    <div class="Navbar">
        <ion-icon name="arrow-back" (click)="navBack()">
        </ion-icon>
        <h2>Sujet</h2>
    </div>
  </ion-title>
</ion-toolbar>
<ion-content>

<ion-content>
  <div class="Content">
    <div class="Reclamation_box">
      <div class="Flex"><img src="../../assets/profile.png" class="user-img" alt=""> <span>Nom Prénom</span></div>
      <p>{{ this.recObjet[this.id].description }}</p>
    </div>
    <div class="Reclamation_box Doctor_reply">
      <div class="Flex"><img src="../../assets/Dr-Atanacio-Cob-3djlf3lk6k1yjmv1qdydxc@2x.jpg" class="user-img" alt=""> <span>Nom Prénom</span></div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet accusamus labore laboriosam sint animi cumque repellat vel, amet optio. Dignissimos, illo. Fugiat rem impedit aut tempora facilis sapiente, voluptas voluptate?</p>
    </div>
  </div>
</ion-content>
