<ion-content>
  <section class="chatbox">
		<section class="chat-window" id="chat-window" >
      <div>

      </div>

        <article *ngFor="let msg_ of messageArrayDoctor"  class="msg-container msg-remote" id="msg-0">
          <div class="msg-box">
            <img src="../../assets/Dr-Atanacio-Cob-3djlf3lk6k1yjmv1qdydxc@2x.jpg" class="user-img" alt="">
            <div class="flr">
              <div class="messages">
                <p class="msg" id="msg-0">
                  {{msg_.content}}
                </p>
              </div>
              <span class="timestamp"><span class="username">{{msg_.name}}</span>&bull;<span class="posttime">1 minute ago</span></span>
            </div>
          </div>
        </article>
        <article *ngFor="let msg of messageArrayClient" class="msg-container msg-self" id="msg-0">
          <div class="msg-box">
            <div class="flr">
              <div class="messages">
                <p class="msg" id="msg-1">
                  {{msg}}
                </p>
                <p class="msg" id="msg-2">
                  Praesent varius
                </p>
              </div>
              <span class="timestamp"><span class="username">Name</span>&bull;<span class="posttime">2 minutes ago</span></span>
            </div>
            <img class="user-img" id="user-0" src="../../assets/profile.png" />
          </div>
        </article>


		</section>
		<form class="chat-input" onsubmit="return false;">
			<ion-input class="Input" #inputMsg (ionChange)="onMsgChange(inputMsg.value)" type="text" autocomplete="on" placeholder="Type a message" ></ion-input>
      <ion-button (click)="onClickSend();" [disabled]="!isValid" style="display: felx; align-items: center; --background:#334FDF;--box-shadow:none;--border-radius: 50%;width: 50px; height: 50px;">
        <ion-icon name="send"></ion-icon>
      </ion-button>
		</form>
	</section>
</ion-content>
