ul {list-style-type: none;}
.Calendar{
  box-shadow: 0 12px 15px -7px rgb(0 0 0 / 7%);
  margin-bottom: 30px;
}
.month {
  padding: 15px 25px;
  width: 100%;
  background: rgb(175, 175, 175);
  text-align: center;

}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 15px 0;
  background: #eee;
  margin: 0;
}

.days li {
  display: inline-block;

  list-style-type: none;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 17px;
  color: #777;
}

.days li .active {
  padding: 7px 11px !important;
  background: #334FDF;
  color: white !important;
  border-radius: 4px;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 15.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 13.5%;}
  .days li .active {  padding: 5px 10px !important;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 13.2%;}
}
