<app-notification id="Notification_modal_home"></app-notification>
<ion-toolbar class="Toolbar">
  <ion-title>
    <div class="Navbar">
      <h2>Accueil</h2>
      <ion-button (click)="onNotification();" id="Notification">
        <ion-icon class="Notifications" name="notifications"></ion-icon>
        <ion-label></ion-label>
        <ion-badge class="Badge" color="danger">6</ion-badge>
      </ion-button>
    </div>

  </ion-title>
</ion-toolbar>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button *ngIf="isStart || timeHours === timeTotal " id="play"  (click)="start()">
      <ion-icon  name="play" ></ion-icon>
    </ion-fab-button>

    <ion-fab-button *ngIf="!isStart && timeHours < timeTotal"  id="stop" (click)="stop()">
      <ion-icon name="stop"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="Content">
    <div class="Current_aligner_home">
      <h3>Aligner 4</h3>
    </div>
    <app-calendar></app-calendar>

    <div class="Home_content">
      <div class="Progress_container">
        <h3>{{timeHours}} : {{timeMinutes}} : {{timeSecond}}</h3>
        <div class="Progress">
          <div id='Progress_bar' >
          </div>
        </div>
      </div>

      <ion-button   routerLink="/sendphoto">
        Envoi de photos
      </ion-button>
      <div class="Reclamation">

        <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="Float_button">
          <ion-fab-button>
            <ion-icon name="paper-plane"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button>
              <ion-icon name="albums" routerLink="/historique"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="add-sharp" routerLink="/reclamation"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>

      </div>
    </div>
  </div>

</ion-content>
