
#Notification_modal_home{
  display: none;
}
.Progress_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .Progress{
    margin-top: 15px;
    margin-bottom: 16px;
    background-color: rgb(204, 204, 204);
    width: 80%;
    height: 12px;
    border-radius: 8px;
    overflow: hidden;
    #Progress_bar{
      width: 0;
      height:100%;
    }
  }
}

.Current_aligner_home{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 12px 15px -7px rgb(0 0 0 / 7%);
  height: 70px;

}

ion-content{
  ion-fab-button{
    --background: #334FDF;
  }
  .Content{

    padding-bottom: 20px !important;
    .Home_content{
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      ion-button{
        --background:#334FDF;
        width: 45%;
      }
    }
    // .Reclamation{
    //   margin-top: 38px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;

    // }
  }

}

.Float_button{
  margin-bottom: 70px;
}

